/***************
* Common Rules * 
 **************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
body{
    min-width: 1440px;
    font-family: 'Open Sans',sans-serif;
}
html{
    scroll-behavior: smooth;
}
.list_none li{
    list-style: none;
    display: inline;
}

/***************
* Debug Rules * 
 **************/
 .debug .navbar_header{
    height: 200px;
 }
 .debug .section_second_main{
    height: 1000px;
 }
 /***************
 *    HEADER    * 
 **************/
 /* NAVBAR */
 .navbar_header{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
 }
.menu_navbar{
    display: inline-block;
}
.menu_navbar .item_menu a{
    text-decoration: none;
    color: rgb(121, 118, 118);
}
.menu_navbar .item_menu{
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    padding: 0 20px;
    display: inline-block;
    }
.navbar_top .menu_navbar .item_menu:hover a,
.navbar_bottom .menu_navbar .item_menu:hover a{
    color: black;
    text-decoration: underline;
}
.menu_navbar .item_menu.page_corrente{
    color: rgb(121, 118, 118);
    text-decoration: underline;
}
.menu_navbar .item_menu.item_menu.page_corrente:hover a{
    color: rgb(182, 162, 162);
    text-decoration: underline;
}

 /* NAVBAR_TOP */
 .navbar_top .logo_navbar_top{
    height: 100px;
    line-height: 100px;
    float: left;
 }
.navbar_top .logo_navbar_top img{
    width: 250px;
    padding-left: 40px;
    vertical-align: middle;
 }
 nav.navbar_top{
    border-bottom: 1px solid rgb(121, 118, 118);
    }
.navbar_top .menu_navbar{
    float: right;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    }
.navbar_top .menu_navbar{
    float: right;
    }
    /* NAVBAR_BOTTOM */
nav.navbar_bottom{
    border-bottom: 1px solid rgb(121, 118, 118);
}
.navbar_bottom .menu_navbar{
    width: 100%;
    text-align: center;
 }
 .navbar_bottom .menu_navbar li{
    padding: 0px 38px;
    font-size: 17px;
 }
.navbar_bottom .menu_navbar .item_menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* DROPDOWN NAVBAR_BOTTOM */
.dropdown_container{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 99px;
    width: 100vw;
    display: none;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid rgb(121, 118, 118);
}
.dropdown.account_fatturazione{
    left: -53px;
}
.dropdown.crea_elimina_account{
    left: -313px;
}
.dropdown.team_amministratori{
    left: -575px;
}
.dropdown.installazioni_integrazioni{
    left: -835px;
}
.dropdown.fondamenti_dropbox{
    left: -1121px;
    text-align: right;
    padding-right: 40px;
}
.dropdown_container .dropdown li.dropdown_item {
    padding: 0 7px;
    font-size: 15px;
    width: 20%;
}
.dropdown li a{
    display: inline-block;
}
.dropdown_container:hover .dropdown{
    display: inline-block;
} 
/* hero_image */
.content_header{
    background-color: khaki;
    padding-top: 200px;
    width: 100vw;
    
}
.content_header > img{
    height: 570px;
    text-align: left;
    height: 570px;
    float: right
}
.hero_text{
    height: 570px;
    background-color: violet;
    float: left;
    width: 40%;
}
/* main */
.section_first_main{
    width: 80%;
    margin: auto;
    position: relative;
    top: 100px;
}
.col_60{
    padding-top: 30px;
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 30px;
}
.col_40{
    padding-top: 40px;
    float: left;
    width: 40%;
    height: 100%;
    background-color: white;
}
.col_40 .card{
    height: 265px;
    width: 95%;
    margin: auto;
    border: 1px solid wheat;
    margin-bottom: 40px;
}
.card.border_orange{
    border-top: 6px solid #F2AE34;
}
.card.border_blue{
    border-top: 6px solid #ABC9E2;
}
.card.border_pink{
    border-top: 6px solid #FEA69A;
}
.card .col_icon{
    height: 100%;
    float: left;
    width: 20%;
    border-right: 1px solid wheat;
    text-align: center;
}
.card .col_text{
    height: 100%;
    float: left;
    width: 80%;
    text-align: center;
}
.card .col_icon i{
    color: #01a2ff;
    transform: scale(3.5);
    transform: scaleX(10px);
    padding-top: 15px;   
}
.col_text{
    padding-left: 30px;
}
.col_text h1{
    text-align: left;
    font-size: 18px;
    padding: 15px 0 0 30px;
}
.col_text h2{
    text-align: left;
    font-weight: lighter;
    color: black;
    font-size: 15px;
    padding: 10px 30px 0 30px;
}
.col_text .space{
    height: 1px;
    width: 57px;
    border: .5px solid #D0D0D3;
    margin: 30px 0 30px 30px;
}
.col_text p{
    text-align: left;
    font-weight: lighter;
    color: #6D7B8D;
    font-size: 15px;
    padding: 0 30px 0 30px;
}
.col_60 h1{
    padding: 0 0 30px 0;
}
.col_60 .row_question{
    padding-top: 14px;
    line-height: 90px;
    vertical-align: middle;
    position: relative;
}
.row_question .question{
    float: left;
    width: 54%;
    font-size: 15px;
    line-height: 41px;
}
.row_question .question_right{
    float: right;
    width: 10%;
    padding-right: 40px;
}
.row_question span{
    padding: 10px 0;
    float: left;
}
.row_question span p{
    margin: 0 0 0 25px;
    line-height: 70px;
    padding: 0 10px;
    border: 1px solid black;
}
.row_question:hover .question{
    text-decoration: underline;
}
.row_question:hover .question_right{
    transform: translateX(-10px);
}
.row_question:hover .rec{
    text-decoration: underline;
}
.row_question:hover .col_60 {
    line-height: 300px;
}
/* /section_first_main */
/* section_second_main */
.section_second_main{
    position: relative;
    top: 60px;
}
.col_50{
    width: 45%;
    height: 100%;
}
.sx{
    margin-left: 4%;
    margin-right: 1%;
    float: left;
    background-color: aqua;
}
.dx{
    margin-right: 4%;
    margin-left: 1%;
    float: left;
    background-color: rgb(43, 80, 80);
}



























/* footer */
#site_footer{
    width: 100%;
    background-color: black;
    position: relative;
    top: 241px;
    z-index: 2;
}
.content_footer{
    width: 80%;
    margin-left: 10%;
}
.content_footer .col_footer{
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid black;
    padding-left: 10px;
    color: white;
}
.col_footer .title_col_footer{
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 27px;
    font-weight: 700;
}
.list_footer{
    list-style: none;
    padding-bottom: 114px;
}
.list_footer a{
    color: white;
    text-decoration: none;
}
.col_footer .space {
    height: 1px;
    width: 110px;
    border: .5px solid #D0D0D3;
    margin: 0px 0 49px 0px;
}
.language .text{
    display: inline-block;
}
.language .triangle_down i{
    padding-bottom: 7px;
    font-size: 18px;
    transform: rotateX(180deg);
}
.last{
    padding-bottom: 45px;
}