*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
body{
    min-width: 1440px;
    font-family: 'Open Sans',sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*****************
*     utility     * 
*****************/
.container_main{
    position: relative;
    top: 150px;
}
.btn a{
    background-color: #0061FF;
    color: white;
    padding: .50rem 1rem;
    text-decoration: none;    
}
.btn a:hover{
    background-color: #4d8df5;
    text-decoration: underline;
}
.list_none,
.dropdown{
    list-style: none;
}
.menu li{
    list-style: none;
    display: inline;
    padding: 0 25px;
}
.menu li a{
    text-decoration: none;
    color: black;
}
/*****************
*   debug rules  * 
*****************/
.debug header{
    height: 891px;
    background-color: aqua;
}
.debug .site_nav{
    height: 78px;
}
/* 
.debug .jumbo_section{
    height: 1000px;
    background-color: blueviolet;
    width: 100%;
}
.debug .content_jumbo{
    height: 100%;
    background-color: rgb(234, 0, 255);
    width: 100%;
    
}
.debug .text_jumbo{
    height: 100%;
    background-color: rgb(27, 4, 29);
    color: rgb(234, 0, 255);
    
} */
/* .debug .container_main{
    height: 10000px;
    background-color: rgba(27, 212, 27, 0.486);
}
.debug .card{
    height: 700px;
} */
/* .debug .card_large{
    height: 400px;
}
.debug .section{
    height: 300px;
} */
/* .debug .section_partner{
    height: 500px;
} */
/* .debug .card_operation{
    height: 100px;
} */
/* .debug .container_secondary{
    height: 700px;
} */
/* .debug .container_large{
    height: 500px;
} */
/* .debug .container_answer_question{
    height: 730px;
}
.debug #site_footer{
    height: 500px;
}
.debug .content_footer{
    height: 100%;
}
 */
/*****************
*     header     * 
*****************/
/* navbar */
.site_nav{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
}
.content_navbar{
    height: 100%;
    width: 80%;
    margin: auto;
}
.content_navbar .logo{
    line-height: 80px;
    float: left;
    vertical-align: middle;
    padding-top: 6px;
}
.content_navbar .menu_left{
    line-height: 100%;
    float: left;
    padding-left: 30px;
}
.content_navbar .menu_right{
    line-height: 100%;
    float: right;
    padding-right: 30px;

}

.menu_left .item_menu,
.menu_right .item_menu{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 20px;
    display: inline-block;
}
.menu_left .item_menu a,
.menu_right .item_menu a{
    text-decoration: none;
    color: black;
}
.menu_left .item_menu:hover,
.menu_right .item_menu:hover{
    border-bottom: 3px solid black;
}
.content_navbar .btn_nav_go{
    line-height: 80px;
    vertical-align: middle;
    float: right;
}
.dropdown_container{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 78px;
    left: -90px;
    background-color: #e7e1d7;
    width: 200px;
    display: none;
    text-align: center;
}
.dropdown_container:hover{
    background-color:#e7e1d7 ;
}
.dropdown_container:hover .dropdown{
    display: inline-block;
    background-color:#e7e1d7 ;
} 
.dropdown_item a:hover{
    background-color:rgb(241, 238, 232);
}
/* jumbo_section */
.content_jumbo{
    background-color: #B4D0E7;
}
.text_jumbo{
    width: 80%;
    padding: 130px 80px 0 80px;
    margin: auto;
}
.text_jumbo .title_jumbo{
    font-size: 58px;
    font-weight: 700;
}
.text_jumbo .subtitle_jumbo{
    padding: 60px 0;
    width: 40%;
    font-size: 17px;
}
.text_jumbo .description_jumbo{
    padding-top: 30px;
}
.text_jumbo .arrow_jumbo{
    padding-top: 10px;
    padding-bottom: 90px;
    font-size: 30px;
}
.text_jumbo .arrow_jumbo a{
    text-decoration: none;
    color: black;
}
.text_jumbo .image_jumbo{
    height: 476px;
    width: 801px;
    position: absolute;
    top: 355px;
    right: 50px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/*****************
*      main      * 
*****************/
/* section_1 */
.container_main{    
    width: 60%;
    margin: auto;}
#site_main .container_main .title_main{
    font-size: 33px;
    font-weight: 700;
}
.container_main .check_main{
    padding-top: 50px;
}
.container_main .check_main .second{
    padding-left: 20px;
}
.card{
    float: left;
    width: 30%;
    border: 1px solid #D0D0D3;
    margin: 30px 14px;
}
.card .title_card{
    width: 100%;
    border-bottom: 1px solid #D0D0D3;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}
/* lista plan singolo */
.description_plan li{
    list-style: none;
    padding-left: 20px;
}
.description_plan .title_plan{
    font-size: 20px;
    padding: 15px 0 15px 20px;
}
.description_plan .cost_plan{
    padding-bottom:5px;
}
.description_plan .duration_plan{
    color: grey;
    padding-bottom: 55px;
    font-size: 12px;
}
.description_plan .user_plan{
    padding-bottom: 30px;
}
.description_plan .space_plan{
    padding-bottom: 30px;
    font-size: 12px;
}
.description_plan .function_plan{
    padding-bottom: 50px;
    font-size: 12px;

}
.description_plan .btn_trial a{
    text-decoration:  none;
    color: white;
    background-color: #0061FF;
    padding: 8px 35px;
    margin: 20px;
    font-size: 12.5px;
}
.description_plan .btn_trial a:hover{
    background-color: #4d8df5;
    text-decoration: underline;
}
.description_plan .option_mode{
    padding-left: 20px;
    padding-top: 46px;
}
.description_plan .space{
    height: 1px;
    width: 48px;
    border: .5px solid #D0D0D3;
    margin: 30px 0 25px 20px;
}
.description_plan .text_size{
    font-size: 15px;
    padding: 15px 0 20px 20px;
}
.fa-check:before {
    content: "\f00c";
    color: #0061FF;
}
.description_plan .option{
    font-size: 12px;
    padding-bottom: 20px;
}
.description_plan  .last{
    padding-bottom: 160px;
}
.card_container .card_large{
    margin:0 1%;
    float: left;
    width: 98%;
    border: 1px solid #D0D0D3;
    margin-bottom: 100px;
}
.title_card_large{
    border-bottom: 1px solid #D0D0D3;
    text-align: center;
    line-height: 43px;
    vertical-align: middle;
}
.section{
    float: left;
    width: 100%;
    padding-left: 20px;
    position: relative;
}

.content_large .heading_card_large{
    font-weight: 700;
    font-size: 30px;
    padding-top: 30px;
}
.content_large .subtitle_card_large{
    font-weight: bold;
    padding-top: 30px;
}
.content_large .text_card_large{
    padding-top: 30px;
    padding-bottom: 30px;
}
.btn_contact a{
    position: absolute;
    top: 40px;
    right: 15px;
    background-color: #0061FF;
    text-decoration: none;
    color: white;
    padding: 7px 60px;
    font-size: 18px;
}
.btn_contact a:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #4d8df5;
}
/* section partner */
.container_main .section_partner{
    padding-bottom: 120px;
}
.section_partner .partner_image{
    float: left;
    background-image: url(../img/partner.png);
    height: 450px;
    width: 49%;
    margin-left: 1%;
    background-size: cover;
}
.section_partner .partner_text{
    float: left;
    height: 100%;
    width: 46%;
    margin-left: 4%;
    padding-top: 40px;
}
.partner_text .partner_title{
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 30px;
    line-height: 35px;
}
.partner_text .partner_subtitle{
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 25px;
}
.partner_text .btn_partner{
    padding-top: 20px;
}
.btn_partner a{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 7px 25px;
    font-size: 18px;
}
.btn_partner a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* section operation */
.container_main .title_operation{
    font-weight: 700;
    font-size: 32px;
}
.card_container .card_operation{
    float: left;
    margin: 1.5%;
    width: 30%;
}
.card_operation .image_operation img{
    width: 100%;
    height: 200px;

}
.card_operation .title_operation_card{
    font-weight: 700;
    font-size: 23px;
    padding-top: 25px;

}
.card_operation .subtitle_operation{
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 60px;
}
.underline{
    text-decoration: underline;
}
.section_operation .bottom_operation .title_bottom{
    font-weight: 800;
    font-size: 35px;
    padding-bottom: 50px;
}
p.client a{
    text-decoration: none;
    color: black;
    padding-bottom: 50px;

}
p.client a:hover{
    color: #0061FF;
    text-decoration: underline;
}
/* section sponsor */
#site_main .container_secondary{
    position: relative;
    top: 190px;
    left: 0px;
    width: 100%;
}
.container_secondary .section_left,
.container_secondary .section_right{
    width: 27%;
    float: left;
}
.container_secondary .section_center{
    width: 46%;
    float: left;
}
.section_left .square,
.section_right .square{
    float: left;
    line-height: 194.39px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}
/* cambio l'altezza per inserire il border */
.section_left .square.up_sx{
    line-height: 172.39px;
}
.section_left .square img,
.section_right .square img{
    width: 105px;
}
.section_center .logo img{
    width: 137px;
    height: auto;
    padding: 50px 0 37px 0px;
}
.section_center{
    padding-left: 50px; 
}
.section_center .text_center{
    width: 90%;
    font-size: 16px;
}
.section_center .text_center .main_text{
    padding-bottom: 55px;
}
.section_center .text_center .submain_text{
    padding-bottom: 40px;
}

/* background color */
/* section_left */
.section_left .square.up_sx{
    background-color: #A2D39B;
    border-top:  11px;
    border-bottom:  11px;
    border-left: 5px;
    border-right:  11px;
    border-style: solid;
    border-color: #d0e9cd;
}
.section_left .square.up_dx{
    background-color: #61082B;
}
.section_left .square.low_sx{
    background-color: #FF1C1C;
}
.section_left .square.low_dx{
    background-color: #0093CE;
}
.container_secondary .section_left .square.square.up_dx img{
    transform: translateY(30px);
}
.container_secondary .section_left .square.square.low_dx img{
    transform: translateY(10px);
}
/* center */
.section_center{
    background-color: #F5F5F5;
}
.section_center .space {
    height: 1px;
    width: 65px;
    border: .5px solid #D0D0D3;
    margin: 0px 0 25px 0px;
}
/* section_right */
.section_right .square.square.up_sx{
    background-color: #D5001F;
}
.section_right .square.square.up_dx{
    background-color:#B4D0E7;
    
}
.section_right .square.square.low_sx{
    background-color:#0D2481;
    
}
.section_right .square.square.low_dx{
    background-color:#FFD830;
    
}
/* color logo */
.section_left .square img,
.section_right .square img{
    filter: invert(100%);
}
/* container_large */
#site_main .container_large{
    position: relative;
    top: 188px;
    background-color: #B4D0E7;
}
.container_large .text_container_large{
    width: 73%;
    margin: auto;
    padding-left: 27px;
}
.container_large .text_container_large h1{
    padding: 140px 0;
    color: #640F32;
    font-weight: 700;
    display: inline-block;
    
}
.btn_container_large a{
    text-decoration: none;
    background-color: white;
    padding: 10px 64px;
    color: black;
}
.btn_container_large{
    float: right;
    padding: 150px 20px 0 30px;
}
.btn_container_large a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* section answer_question */
#site_main .container_answer_question{
    position: relative;
    top: 189px;
    width: 60%;
    margin: auto;
}
.container_answer_question .title_container_a_q h1{
    padding: 140px 0 61px 0;
}
.container_answer_question .row_question{
    line-height: 100px;
    vertical-align: middle;
    position: relative;
}
.row_question .question{
    float: left;
}
.row_question .question_down{
    float: right;
    padding-right: 40px;
}
.answer p{
    color: #999999;
    margin-top: 20px;
    padding-bottom: 125px;
    display: none;
    position: absolute;
    top: 57px;
    left: 0px;
    line-height: 100%;
    vertical-align: middle;
    height: 50px;
    background-color: white;
    z-index: 1;
}
.row_question:hover .question_down{
    transform: rotateX(180deg);
}
.row_question:hover .container_answer_question {
    line-height: 300px;
}
.row_question:hover .answer p{
    display: block;
}
/*****************
*     /main      * 
*****************/
/*****************
*     footer     * 
*****************/
#site_footer{
    width: 100%;
    background-color: black;
    position: relative;
    top: 241px;
    z-index: 2;
}
.content_footer{
    width: 80%;
    margin-left: 10%;
}
.content_footer .col_footer{
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid black;
    padding-left: 10px;
    color: white;
}
.col_footer .title_col_footer{
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 27px;
    font-weight: 700;
}
.list_footer{
    list-style: none;
    padding-bottom: 114px;
}
.list_footer a{
    color: white;
    text-decoration: none;
}
.col_footer .space {
    height: 1px;
    width: 110px;
    border: .5px solid #999999;
    margin: 0px 0 49px 0px;
}
.language{
    color: #999999;
}
.language .text{
    display: inline-block;

}
.language .triangle_down i{
    padding-bottom: 7px;
    font-size: 18px;
    transform: rotateX(180deg);
}
.last{
    padding-bottom: 45px;
}